{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block title %}Редактировать пользователя{% endblock %}

{% block menu_links %}
    <li><a href="{% url 'profile' user_obj.pk %}">Назад</a></li>
    <li><a href="{% url 'password_change' %}">Смена пароля</a></li>
{% endblock %}

{% block task %}

<div class="container">
    <h1>Поменять личные данные</h1>
    <form action="{% url 'change' user_obj.pk %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button button_class="btn-secondary" button_type="submit" content='Edit' %}
        <br>
    </form>
</div>

{% endblock %}
